body {
  font-family: sans-serif;
}

#free-style {
  border: 1px #ccc solid;
  border-radius: 4px;
  outline-color: #719ece;
}

p {
  line-height: 2rem;
  font-size: 1.2rem;
  height: 2rem;
  margin: 5px 10px;
  padding: 5px;
}

.hide {
  display: none;
}

.show {
  display: inline;
}

.withTagName {
  color: teal;
  font-size: 1em;
}


h1,
h2,
h3 {
  outline-style: none;
  padding: 0 10px;
}
h1 .heading-tag {
  color: teal;
  font-size: 1.5rem;
}

h2 .heading-tag {
  color: teal;
  font-size: 1.2rem;
}

h3 .heading-tag {
  color: teal;
  font-size: 1rem;
}

.bold-tag {
  color: rebeccapurple;
}
.description {
  color: #aaa;
  margin: 0;
  padding: 5px;
}

.container {
  border: 1px #ccc solid;
  border-radius: 4px;
  padding: 15px 10px;
}

.ProseMirror {
  position: relative;
}

.ProseMirror {
  word-wrap: break-word;
  white-space: pre-wrap;
  white-space: break-spaces;
  -webkit-font-variant-ligatures: none;
  font-variant-ligatures: none;
  font-feature-settings: "liga" 0; /* the above doesn't seem to work in Edge */
}
